---
layout: default
---

<div class="imgTopic">
 <h1 class="title"><a href="#">큰 제목3</a></h1>
 <p class="content"><a href="#"><img src="image.JPG" alt="" /><span class="date">2013년02월27일 오후3:00</span></a></p>
</div>

<div class="home">
  {%- if page.title -%}
    <h2 class="page-heading">{{ page.title }}</h2>
  {%- endif -%}

  <!-- {{ content }}-->
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="section-heading"> Applied Electromagnetics Laboratory  </h1>
            </div>
            <div class="col-md-12 text-left">
                <hr class="light">
                <h4>
                  <p style="line-height: 1.8;">
                     Our research focuses on wireless power transfer system, magnetic field reduction, embedded system based system control. The wireless power tranfser based powering is applied on microrobot, implantable medical devices, electric vehicles.  We have several openings for graduate students and undergraduate students. If you are interested in working with us, please contact to Prof. Dongwook Kim (dwkim@yu.ac.kr) with your research interests and Curriculum Vitae.<br><br>                   우리 연구실에서는 무선전력전송 시스템, 전자파 저감기술,  Embedded 시스템 (FPGA, DSP, Raspberry pi, Nvidia Series 등)을 이용한 제어 연구를 진행중에 있습니다.  학부연구생과 석/박사 과정 학생들을 모집하고 있으니, 대학원 지원 희망 및 관심있는 학생들은 이메일(dwkim@yu.ac.kr)로 연락 바랍니다.
                  </p>
                </h4>
                <!--
                    <a href="#" class="btn btn-default btn-xl">Get Started!</a>
                -->
            </div>
        </div>


  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}

<!--
  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
-->
    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div>
